<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpaceColonizations">
        <!-- Menu -->
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Credits -->
        <activity
            android:name=".CreditActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <!-- Map -->
        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <!-- Fight enemy -->
        <activity
            android:name=".FightEnemyActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <!-- Asteroid -->
        <activity
            android:name=".AsteroidActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <!-- Engine failure -->
        <activity
            android:name=".EngineFailureActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <!-- Shop -->
        <activity
            android:name=".ShopActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />


    </application>

</manifest>
